<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/servises/servises.js"></script>
    <script src="js/controllers/controllers.js"></script>

  </head>
  <body ng-app="starter" ng-controller="starterCtrl as app" ng-cloak >

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Solar system app</h1>
      </ion-header-bar>
      <ion-content>


<div class="item item-input item-select">
  <div class="input-label">
    Planets
  </div>

  <select
      ng-model="app.selected_planet_id"
      ng-options="planet.id as planet.name for planet in app.planets" >
  </select>
</div>

<button class="button button-positive"
  ng-click="app.get_planet_info()" >
  Get info
</button>

<div class="item item-text-wrap"
    ng-if="app.no_planet_id">
    you need to choose some planet first
</div>
<label class="item item-input">
   <textarea placeholder="planet info" id='memo' >
  </textarea>
</label>


      </ion-content>
    </ion-pane>
  </body>
</html>
